<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anmol.rosei">

    <application
        android:name=".FireApp"
        android:allowBackup="true"
        android:icon="@drawable/roseiicon2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/roseiicon2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".RoseiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Book_Activity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".Services.MessStatusService" />
        <service android:name=".Services.MessStatusService2" />
        <service android:name=".Services.UpcomingWeekService" />
        <service android:name=".Services.NotifyService" />

        <activity android:name=".TestActivity"></activity>
        <activity
            android:name=".BookingnewActivity"
            android:label="@string/title_activity_bookingnew"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>